body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    color: darkblue;
    text-align: center;
}
h2 {
    color: #333333;
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: darkblue;
    color: white;
}
img{
    border-radius: 25%;
}
a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

a:hover {
    color: red;
}
form {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: green;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.profile img{
    width: 250px;
    height: 250px;
    border-radius: 25%;
    object-fit: cover;
}

.info h1{
    margin-bottom: 10px;
}

.info p{
    font-size: 22px;
    margin: 5px 0;
}